<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>admin-only</title>
</head>

<body>
  <form class="" action="/" method="post">
    <label for="code">contest-code</label >
    <input id="code" type="text" name="contestCode" required>
    <!-- <label for="offset">offset</label>
    //<input id="offset" type="text" name="offset" required> -->
    <label for="cn">contest-number</label>
    <input id="cn" type="text" name="contestNumber" required>
    <button type="submit">Submit</button>

  </form>
</body>

</html>
